@import 'variables';
@import "mixins";
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  font-family: 'Roboto Slab', serif;
  background-color: var(--tertiary-color) !important;
  border-color: var(--secondary-color) !important;
  color: var(--secondary-color) !important;
  -webkit-text-fill-color: var(--secondary-color) !important;
  -webkit-box-shadow: none !important;
  transition: background-color 5000s ease-in-out 0s !important;
}
.contact-container {
  position: relative;
  height: 100%;
  transition: .6s ease-in-out;
  .contact-message {
    @include flexbox;
    @include flex-direction(row);
    @include flex-wrap(wrap);
    visibility: hidden;
    opacity: 0;
    transition: var(--transition-speed) ease-in-out;
    max-height: 0;
    width: auto;
    h1 {
      @include flex-basis(100%);
      display: inline-block;
    }
    span {
      padding-right: .25rem;
    }
    &.show-message {
      visibility: visible;
      max-height: 300px;
      opacity: 1;
      transition: var(--transition-speed) ease-in-out .15s, opacity var(--transition-speed) ease-in-out .30s;
    }
  }
  .contact-col {
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(space-between);
  }
  .contact-error {
    visibility: hidden;
    opacity: 0;
    transition: var(--transition-speed) ease-in-out;
    color: var(--tertiary-color);
    font-weight: bolder;
    padding: var(--medium) 0;
    &.show-error {
      visibility: visible;
      opacity: 1;
      transition: var(--transition-speed) ease-in-out;
    }
  }
  form {
    visibility: visible;
    opacity: 1;
    transition: var(--transition-speed) ease-in-out 0s;
    max-height: 1500px;
    &.hide-form {
      visibility: hidden;
      opacity: 0;
      transition: var(--transition-speed) ease-in-out 0s;
      max-height: 0;
    }
    .btn {
      align-self: flex-start;
    }
  }
}
.form-group{
  padding: .25rem 0;
  position: relative;
  color: var(--secondary-color);

  .form-group-span {
    transition: var(--transition-speed) ease-in-out;
    &:before {
      content: '';
      position: absolute;
      background: var(--primary-color);
      z-index: -1;
      transition: var(--transition-speed) ease-in-out;
      width: 100%;
      height: 100%;
      @include position(-.25rem)
    }

  }
  &:focus-within {
    color: var(--secondary-color);
    .form-group-span {
      color: var(--secondary-color);
      input, textarea {
        border-color: var(--secondary-color);
        color: var(--secondary-color);
      }
      &:before {
        background: var(--tertiary-color);
      }
    }
  }
  .form-control {
    &:focus {
      color: var(--secondary-color);
      transition: var(--transition-speed) ease-in-out;
      background: transparent;
      border-color: var(--secondary-color);
      box-shadow: none;
    }
  }
}


