@import "variables";
@import "mixins";

.header {
  @include flexbox;
  @include flex-direction(row);
  @include justify-content(space-between);
  width: 100%;
  position: relative;
  z-index: 1;
  padding: 0;
  height: 60vh;

  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .navbar {
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(space-between);
    width: 100%;
    padding: 0;
    .slider {
      width: 100%;
      height: 100%;
      position: relative;
      .slide {
        @include position(0);
        @include cover;
        &:before {
          content: '';
          position: absolute;
          left: 0;right: 0;top: 0;bottom: 0;
          background-color: rgba(50,50,50,.25);
        }
        background-repeat: no-repeat;
        position: absolute;
        opacity: 0;
        animation: slider-animation;
        animation-duration: 30s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        &.slide1 {
          background-image: url(http://chakito.com/blog/wp-content/uploads/2020/07/IMG_20170411_195928-1-scaled.jpg);
        }
        &.slide2 {
          animation-delay: 10s;
          background-image: url(http://510434238.swh.strato-hosting.eu/projekt/blog/wp-content/uploads/2020/08/image-1-1024x575.jpg);
        }
        &.slide3 {
          animation-delay: 20s;
          background-image: url(http://510434238.swh.strato-hosting.eu/projekt/blog/wp-content/uploads/2020/08/image2-1024x575.jpg);
        }
      }
    }
    .navbar-collapse {
      @include justify-content(center);
      @include flex-grow(0);
      width: 100%;
      height: 68px;
      background: var(--primary-color);
      z-index: 1;
      .navbar-nav {
        @include align-items(flex-end);
        padding: .5rem 0;
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .header {
    height: 30vh;

    .navbar {
      padding: 0;
      width: 100%;
      .slider {
      }
      .navbar-collapse {
        @include flexbox;
        @include flex-direction(column);
        @include justify-content(center);
        @include align-items(center);
        z-index: 1;
        background: var(--primary-color);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        padding: var(--medium);
        opacity: 0;
        transition: all var(--transition-speed) ease-in-out .30s;
        visibility: hidden;

        .navbar-nav {
          @include align-items(flex-end);
          .nav-item {
            opacity: 0;
            transition: all var(--transition-speed) ease-in-out, transform var(--transition-speed) ease-in-out var(--transition-speed);
            transform: translateX(-1000%);
            z-index: 1;
          }
        }
        &.show {
          opacity: 1;
          transition: all var(--transition-speed) ease-in-out;
          visibility: visible;
          .navbar-nav {
            &:before {
              opacity: 1;
              transition: all var(--transition-speed) ease-in-out;
            }
            .nav-item {
              opacity: 1;
              transition: all var(--transition-speed) ease-in-out;
              transform: translateX(0);
              @for $i from 1 through 7 {
                &:nth-child(#{$i}) {
                  transition-property: opacity;
                  transition-delay: ($i / 5) + s;
                }
              }
            }
          }
        }
      }
      .navbar-toggler {
        z-index: 2;
        border: none;
        padding: 0;
        order: 2;
        &:focus {
          outline: none;
        }
      }
    }
  }
}
@media only screen and (max-width: 445px) {
  .header {
    .logo {
      img {
        width: 100px;
        height: auto;
      }
    }
  }
}
