@import "sass/variables";
@import "sass/mixins";
@import "sass/animation";
@import "sass/transition";
@import "sass/fonts";
@import "sass/contact";
@import "sass/header";
@import "sass/navigation";
@import "sass/posts-grid";
@import "sass/post";
@import "sass/footer";
* {
  -webkit-backface-visibility: hidden;
}


#root {
  .body-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

}
.content-container {
  min-height: 66vh;
}

.transition-elementabsolute {
  @include position(0,0,0,0);
  &.minusindex {
    z-index: -1;

  }
}
body {
  color: var(--secondary-color);
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  overflow-x: hidden;
  overflow-y: scroll;
  &.overflowhidden {
    overflow: hidden;
    @media only screen and (min-width: 768px) {
      padding-right: 6px;
    }
  }
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-color) --primary-color;
}
/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 6px;
}
*::-webkit-scrollbar-track {
  background: var(--secondary-color);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--tertiary-color);
  border-radius: 0;
}

.form-control, .btn {
  border: var(--border-width) solid var(--secondary-color);
  background: transparent;
  color: var(--secondary-color);
  border-radius: 0px;
}
a:not(.logo):not(.css-rdzgic){
  position: relative;
  display: inline-block;
  &:after {
    @include position(unset, 0, 0.25rem, 0);
    content: '';
    position: absolute;
    transition: var(--transition-speed) ease-in-out;
    width: 100%;
    opacity: 0;
    background: var(--tertiary-color);
    height: 35px;
    z-index: -1;
  }
  &:hover, &.active {
    &:after {
      opacity: 1;
      transition: var(--transition-speed) ease-in-out var(--transition-speed);
    }
  }
}

.btn{
  transition: var(--transition-speed) ease-in-out;
  position: relative;
  &:before {
    @include position(-.375rem);
    content: '';
    position: absolute;
    background: var(--tertiary-color);
    z-index: -1;
    transition: var(--transition-speed) ease-in-out;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  &:focus {
    outline: none;
    box-shadow: none;
  }
  &.active, &:focus, &:active {
    color: var(--primary-color);
    transition: var(--transition-speed) ease-in-out;
    background: transparent;
    border-color: var(--secondary-color);
    &:before {
      transition: var(--transition-speed) ease-in-out;
      opacity: 1;
    }
  }
}
.cat-container {
  @include flexbox;
  @include flex-direction(row);
  @include justify-content(center);
  @include flex-wrap(wrap);
  width: 100%;
  button {
    padding: calc( var(--small) / 2);
    margin: calc( var(--small) / 2);
  }
}
a {
  color: var(--secondary-color);
  text-decoration: none;
  &:hover {
    color: var(--secondary-color);
    text-decoration: none;
  }
}
ul {
  list-style: none;
  padding: 0;
}

.required-error {
  color: var(--tertiary-color);
}


.body {
  opacity: 0;
  transition: var(--transition-speed) ease-in-out 0s;
  .image-box, .cat-container {
    opacity: 0;
    transition: var(--transition-speed) ease-in-out 0s;
  }
  &.loaded {
    opacity: 1;
    transition: var(--transition-speed) ease-in-out 0.3s;
    .image-box, .cat-container {
      opacity: 1;
      transition: var(--transition-speed) ease-in-out;
      @for $i from 1 through 30 {
        &:nth-child(#{$i}) {
          transition-delay: ($i * 0.3) + s;
        }
      }
    }
  }
}

figure, ul {
  margin: 0;
}

ul.errors {
  display: flex;
  flex-direction: column;
}

.modal-backdrop {
  display: none;
}

.transition-element>* {
  @include centerX;
  min-height: 1px;
  width: 100%;
}

